[mysqld]
port                            = 3306
skip-name-resolve
skip-external-locking           = 1
skip-character-set-client-handshake
character-set-server            = utf8mb4
collation-server                = utf8mb4_general_ci
